body.login {
  display: flex;
  background: #00546d;
}

body.login #login {
  width: 100%;
  background: none;
  box-shadow: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  padding: 0;
}

body.login #login p {
  width: 100%;
  box-sizing: border-box;
  max-width: 520px;
}

body.login #login > h1 > a {
  height: 114px;
  width: 380px;
  background-image: url(../../images/common/logo.svg);
  margin: auto;
  background-position: center center;
  display: block;
  background-size: contain;
  filter: grayscale(1) brightness(5);
}

body.login #login > form {
  width: 100%;
  box-sizing: border-box;
  max-width: 520px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 2px;
  background-color: #fff;
  -webkit-box-shadow: 0 0 2px 0 rgb(47 52 61 / 8%),
    0 0 12px 0 rgb(47 52 61 / 12%);
  box-shadow: 0 0 2px 0 rgb(47 52 61 / 8%), 0 0 12px 0 rgb(47 52 61 / 12%);
}

body.login #login > form textarea,
body.login #login > form input[type=date], 
body.login #login > form input[type=datetime-local],
body.login #login > form input[type=datetime],
body.login #login > form input[type=email],
body.login #login > form input[type=month],
body.login #login > form input[type=number],
body.login #login > form input[type=password],
body.login #login > form input[type=search],
body.login #login > form input[type=tel],
body.login #login > form input[type=text],
body.login #login > form input[type=time],
body.login #login > form input[type=url],
body.login #login > form input[type=week] {
  border: 2px solid #e1e5e8;
}


#backtoblog {
  display: none;
}

body.login body.login #login #nav,
body.login body.login #login #nav a {
  color: #fff !important;
  text-shadow: none !important;
  text-align: center;
}
body.login body.login #login #nav a:hover,
body.login body.login #login #nav a:focus {
  text-decoration: underline;
}
